

.topMenu{
    background-color: #0c5460;
    color: #0056b3;
    font-family: serif;

}
.textt{
    color: lime;
    align-items: center;
    align-content: center;
}
.ps{
    background-color: #0c5460;
    border-radius: 10px;


}
.dropdown-item{
    color: yellowgreen;

}
.newtech{
    text-align: center;
    color: white;
    background-color: #6610f2;
}
.sec{
    color: darkmagenta;
    background-color: black;
    padding-left: 50px;
}
.about{
    width: 100%;
    height: 100px;
    background-color: #6610f2;
    color: white;
    align-items: center;
    text-align: center;



}
.copyright{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}
#more{
    padding-left: 50px;
    padding-right: 100px;



}
#rowa{
    background-color: #0c5460;
}
.pa{
    color: #0b2e13;
}
.image{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.he{
    color: purple;
}
.contactUs{
text-align: center;
    background-color: darkgrey;
    height:100px;
    padding-top: 20px;
    color: darkgreen;

}
.contact{
    border-radius: 20px;
    padding-top: 10px;
    background-color: darkgreen;
    color: white;
    height: 50px;
}
.contact:hover{
    background-color: black;
}
.social {
    width: 100%;
    height: 200px;
    background-color: darkgrey;
    padding-top: 50px;
    color: green;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.wrapper{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.wrapper .buttoni{
    display: inline-block;
    height: 60px;
    width: 60px;
    float:left;
    margin: 0 5px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;

}
.wrapper .buttoni:hover{
    width: 200px;
}
.wrapper .buttoni .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .buttoni:nth-child(1):hover .icon{
    background: darkblue;

}
.wrapper .buttoni:nth-child(2):hover .icon{
    background: dodgerblue;
}
.wrapper .buttoni:nth-child(3):hover .icon{
    background: darkred;
}
.wrapper .buttoni:nth-child(4):hover .icon{
    background: dodgerblue;
}
.wrapper .buttoni .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .buttoni :hover .icon i{
    color: #fff3cd;
}
.wrapper .buttoni span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}




.row {
    padding: 30px;
    border: 10px solid #0c5460;
    border-radius: 20px;
}

.ps2{
    color: black;
}
.spacetaker{
    width: 100%;
    height: 120px;
}
.space{
    width: 100%;
    height: 650px;
    background-color: black;
}
.maquee{
    color: #005cbf;
}
.h{
    color: #1e36ff;
}
.box{
    background-color: #0c5460;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;

}
.heading{
    background-color: #6610f2;
    color: #721c24;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}
.faqs{
    background-color: #9fcdff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
details{
    color: darkblue;
    padding: 10px;

}
webkit-details-marker{
    float: right;
}


